#ramen
{
	min-height: 450px;
	max-width: 1400px;
	border: 3px double 	#1c86ee;
}

#navlist
{
	float: left;
	margin: 6px;
	border-bottom: 1px solid #1c86ee;
	width: 173px;
}

#navlist li
{
	list-style: none;	
	padding: 5px;
	border-top: 1px solid #1c86ee;
}
#navlist li a {text-decoration: none;}

#main
{
	padding: 6px;
	margin-left: 200px;
	max-width: 1200px;
}