#debug_div {
    position: absolute;
	left: 1650px;
	top: 150px;
}

#dates_div {
	position: absolute;
	left: 500px;
	top: 20px;
	z-index: 102;
}

#logo_div {
	position: absolute;
	left: 20px;
	top: 20px;
}

#logo_img {
	width: 50%;
	height: 50%;
}

#svg_div {
    position: absolute;
	z-index: 101;
}

#map_div {
    position: absolute;
	z-index: 100;
}

#map_polygon {
	stroke: red;
	stroke-width: 1.99961;
	fill: none;
}

#austria_map {
	position: relative;
	visibility: visible;
	top: -536px;
	left: -472px;
}

#map_tmp {
	position: relative;
	visibility: hidden;
	width: 74%;
	left: -165px;
	top: -35px;
}

#map_but {
	position: absolute;
	font-size: 24px;
	left: 1550px;
	top: 50px;
	width: 180px;
	height: 55px;
}

.axis text {
	font: 16px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: red;
	shape-rendering: crispEdges;
}

.tick line {
	opacity: 0.1;
}