#debug_div {
    position: absolute;
	left: 1650px;
	top: 150px;
}

#info_div_1 {
	position: absolute;
	left: 100px;
	top: 130px;
}

#info_div_font_1 {
	font-size: 55px;
	font-family: Verdana, Geneva, sans-serif;
	color: red;
}

#info_div_2 {
	position: absolute;
	left: 100px;
	top: 200px;
}

#info_div_font_2 {
	font-size: 36px;
	font-family: Verdana, Geneva, sans-serif;
	color: red;
}

#svg_div {
    position: absolute;
	z-index: 101;
}

#map_div {
    position: absolute;
	z-index: 100;
}

#map_polygon {
	stroke: red;
	stroke-width: 1.99961;
	fill: none;
}

#austria_map {
	position: relative;
	visibility: visible;
	top: -536px;
	left: -472px;
}

#map_tmp {
	position: relative;
	visibility: hidden;
	width: 74%;
	left: -165px;
	top: -35px;
}

#map_but {
	position: absolute;
	font-size: 24px;
	left: 1550px;
	top: 50px;
	width: 180px;
	height: 55px;
}